<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="USER_ID" value="YOUR USER ID" />
    <add key="API_KEY" value="YOUR API KEY" />
    <add key="VIDEO_ID" value="YOUR VIDEO ID" />
    <add key="API_URL" value="http://api.dmcloud.net" />
    <add key="CDN_URL" value="http://cdn.dmcloud.net" />
    <add key="STATIC_URL" value="http://static.dmcloud.net" />
  </appSettings>
</configuration>